<head>
<title>Labaki | Under Construction </title>
<%= stylesheet_link_tag 'construction', media: 'all', 'data-turbolinks-track': 'reload' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
  <div class="construction">
    <span class="inner-cons">
      <p id='construction'>under the construction</p>
      <p id="const-conact"><%= mail_to "contact@labaki.design" , "contact" %></p>
  </span>
</div>


<p class="page-footer">Designed &amp; Developed by Labaki - 2019  &copy;</p>
</body>
