<head>
<title>labaki - under construction </title>
<%= stylesheet_link_tag 'construction', media: 'all', 'data-turbolinks-track': 'reload' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= t('desc') %> ">

<%= favicon_link_tag asset_path('labaki-fav-web.png') %>


</head>
<body>
  <div class="construction">
    <span class="inner-cons">
      <p id='construction'>under construction</p>
      <p id="const-conact"><%= mail_to "social@labaki.studio" , "contact" %></p>
  </span>
</div>


</body>
