<% provide(:title, t('info')) %>

<div class="about-text-mobile">
  <h1>About</h1>
<p><%=t('about-text') %></p>
<h1>Contact</h1>
<p><%=link_to 'Instagram' , 'https://www.instagram.com/labaki_design/' , target: "_blank" %></p>

</div>
