/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{height: 100%;}
body{
  margin: 0;
  padding: 0;
}
.main-container{
  width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
}


.navigation{
    width: 1201px;
    margin: 0 auto;
    right: 0;
    left: -1px;
    top:0px;
    padding-bottom: 20px;
    padding-top: 50px;
    position: fixed;
    display: inline;
    border-bottom: 1px solid black;


}
