@import 'variables';


.construction{
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;

}

.inner-cons{
  display: grid;
  justify-items:center;


}

#construction{
  font-family: 'Soyuz-Custom' , 'Kern-r' , sans-serif;
  font-size: 3em;
  color: $main-color;
  margin: 0;
}
#construction-mobile{
  font-family: 'Soyuz-Custom' , 'Kern-r' , sans-serif;
  font-size: 2em;
  color: $main-color;
  margin: 0;
}



#const-conact{a{
  font-family: 'Kern-r';
  font-size: 1em;
  color: $sec-color;
  text-decoration: none;
  &:hover{
    padding-bottom: 5px;
    border-bottom: 1px solid $sec-color;

  }
}}
