@import 'variables';

.show-project-title-mobile{
  font-family: 'Soyuz-Custom' , 'Untitled Sans' , sans-serif;
  font-size: 2em;
  color: $main-color;
  text-rendering: optimizeLegibility;
  margin: 0;
}

.show-project-body-mobile{
  font-family: 'Untitled Sans' , sans-serif;
  font-size: .9em;
  width: 90%;
  margin: 20px 0px;
  padding: 15px 0px;
  border-top: 1px dotted $main-color;
  border-bottom: 1px dotted $main-color;

}

.in-project-nav-mobile{display: none}
