@import 'variables';

html{ overflow-x: hidden;}
body{overflow-x: hidden;}
.navigation-mobile{
  display: inline-grid;
  width: 100%;
  margin-top: 30px;
  padding-left: 10px;
  grid-template-columns: 35px auto;
  align-items:center;


}


.main-container-mobile{
  width: 100%;
  margin-left: 10px;
  overflow-x: hidden;
}

#hamburger{
  .patty{
    width:20px;
    height: 2px;
    background-color: $main-color;
    margin-bottom: 3px;
  }
}

#logo-mobile{padding: 1px 0; margin-left: 20px; width: 60px; .cls-1{fill:$sec-color}; margin-right: 150px;}

.top{display: inline-flex; padding: 1px 0; align-items:center;}


.inner-navigation{
  display: none;
  position: absolute;
  background-color: $body-color;
  font-family: 'Kern-r', sans-serif;
  color: $main-color;
  text-transform: uppercase;
  font-size: 1.6em;
  a{text-decoration: none; color: $main-color;}
   line-height: 30px;
   padding: 10px;
   padding-left: 0px;
   padding-bottom: 0px;
   top:80px;
   left: 10px;
   box-sizing:content-box;
   width: 300px;
   height: 400px;
}

.all-links{
  margin-right: 40px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding:  0px;
  margin-top:20px;
  li{
    padding-bottom: 15px;
      margin-left:40px;

}
}

#close{
  width: 20px;
  svg{width: 12px;
    fill:$main-color;
}}

.inner-projects{
  display: none;
  border-bottom: 0px;
  font-size: .8em;
  line-height: 25px;
  padding: 1px 0;
  &:first-child{
    margin-top: 7px;
  }
}

///////////////////////////////// Index ////
.single-project-mobile{
  display: inline-grid;align-items: baseline;
  //border-bottom: 1px dotted $main-color;
  width: 95%;
  grid-template-columns: auto 1fr auto;
  padding: 10px 0;
}
.project-title-mobile{
  justify-self:start;
  font-family: 'Soyuz-Custom' , 'Kern-r' , sans-serif;
  text-decoration: none;
  font-size: 1.7em;
  margin: 8px auto;
  margin-bottom: 0px;
  color: $main-color;
  line-height: 80%;

}



  .subcat-mobile{margin-left: 10px; font-family: 'Kern-r' , sans-serif; font-size: .8em; color: $main-color; align-items: baseline; text-transform: capitalize;}

.arrow-click{
  width: 70px;
  justify-self: flex-end;
  svg{path{fill:$main-color}}

}


.info-container-mobile{ width: 80%;
  margin-top: 20px;  font-size: 15px;
  .header-a{font-family: 'Kern-b' ; color: $sec-color; font-size: 18px; margin-bottom: 0px;}
  p{ margin: 10px 0px;   a{ color: $main-color}
}
.contact, .references {margin-top: 40px;}
.references{margin-bottom: 200px;}
.inner-content-links{line-height: 110%}
}
///////// SWITCH INVERSION /////
.toggle-container-mobile{

  svg{width: 20px;path{fill:$main-color; }}
}
///// SWITTCH INVERSION ////

#legende-mobile{font-family: 'Kern-r';margin-top: 0px;margin-bottom: 25px; color: $sec-color; font-size: .7em;}

//////spacer////

.nouveau-mobile {
  padding: 10px 0;

.project-title-mobile , #subcat-mobile-index{
color: $new-project;}



}




///////////////////////footer-
.footer-desk-mobile{
  border-top: 1px solid $main-color;
  padding-top: 40px;
margin-top: 200px;
  width: 90%;
  margin-bottom: 30px;
  height: auto;
  color: $sec-color;
  font-family: 'Kern-r' , sans-serif;
  p{font-family: 'Kern-b', sans-serif; margin-bottom: 0px;}
  .logo-footer{width: 30% ; .cls-1{fill:$main-color;}}
  .copyright{font-size: 0.8em; }
  .contacts {

  a { text-decoration: none; color : $sec-color; &:hover{text-decoration: underline;}}
margin-bottom: 20px;
}
.newsletter{ justify-self:end; font-family: 'Kern-b', sans-serif; padding: 20px 0;
.email_field{display: grid;grid-template-columns: 70% 30%;}
#email-field{
  font-family: 'Kern-r' , sans-serif;
  margin-top: 10px;
  font-size: .95em;
  border:none; color: $sec-color; background: none; border-bottom: 1px solid $main-color; padding-bottom: 5px;}
}
#submit_btn{width: 90px; border:none; background: none; border:1px solid $main-color; padding:5px; margin-left: 15px;  font-family: 'Kern-b' , sans-serif;
 font-size:.9em;color: $sec-color; justify-self:end;
&:hover{background-color: $main-color; color: $body-color}
}
}
