@import 'variables';

html{ overflow-x: hidden;}
body{overflow-x: hidden;}
.navigation-mobile{
  display: inline-grid;
  width: 100%;
  margin-top: 30px;
  padding-left: 10px;
  grid-template-columns: 35px auto;
  align-items:center;


}


.main-container-mobile{
  margin-top: 20px;
  width: 100%;
  margin-left: 10px;
  overflow-x: hidden;
}

#hamburger{
  .patty{
    width:20px;
    height: 2px;
    background-color: $main-color;
    margin-bottom: 3px;
  }
}

#logo-mobile{padding: 1px 0; margin-left: 20px; width: 60px; .cls-1{fill:$sec-color}}
.top{display: inline-flex; padding: 1px 0; align-items:center;}
.inner-navigation{
  display: none;
  position: absolute;
  background-color: $body-color;
  font-family: 'Kern-r', sans-serif;
  color: $main-color;
  text-transform: uppercase;
  font-size: 1em;
  a{text-decoration: none; color: $main-color;}
   line-height: 30px;
   padding: 10px;
   padding-left: 0px;
   padding-bottom: 0px;
   top:64px;
   left: 10px;
   box-sizing:content-box;
   width: 150px;
}
.all-links{
  margin-right: 40px;

}


ul {
  list-style-type: none;
  margin: 0;
  padding:  0px;
  li{
    padding-bottom: 3px;
    border-bottom: .5px solid $main-color;
}
}

#close{
  width: 20px;
  svg{width: 12px;
    fill:$main-color;
}}

.inner-projects{
  display: none;
  border-bottom: 0px;
  font-size: .9em;
  line-height: 25px;
  padding: 1px 0;
  &:first-child{
    margin-top: 7px;
  }
}

///////////////////////////////// Index ////
.single-project-mobile{
  display: inline-grid;align-items: baseline;
  //border-bottom: 1px dotted $main-color;
  width: 95%;
  grid-template-columns: auto 1fr auto;
  padding: 5px 0;
}
.project-title-mobile{
  justify-self:start;
  font-family: 'Soyuz-Custom' , 'Kern-r' , sans-serif;
  text-decoration: none;
  font-size: 1.7em;
  margin: 8px auto;
  margin-bottom: 0px;
  color: $main-color;
  line-height: 80%;
}

.heterodox-mobile{
  position: fixed;
  opacity: .1;
  bottom: 80px;
  color: $sec-color;
  width: 70%;
  font-size: .8em;
  a{text-decoration: none; color: $sec-color}
  #heterodox-logo{width:50%; path{fill: $sec-color;}}
  #heterodox-text{margin-top: 5px;}
  &:active{ opacity: 1;
  a{&:active{border-bottom: 2px solid $sec-color ; padding-bottom: 5px;}
  }}}


  .heterodox-mobile-active{opacity: 1;}
  .subcat-mobile{margin-left: 10px; font-family: 'Kern-r' , sans-serif; font-size: .8em; color: $main-color; align-items: baseline; text-transform: capitalize;}

.arrow-click{
  width: 70px;
  justify-self: flex-end;
  svg{path{fill:$main-color}}

}


.info-container-mobile{ width: 80%;
  margin-top: 20px;  font-size: 15px;
  .header-a{font-family: 'Kern-b' ; color: $sec-color; font-size: 18px; margin-bottom: 0px;}
  p{ margin: 10px 0px;   a{ color: $main-color}
}
.contact, .references {margin-top: 40px;}
.references{margin-bottom: 200px;}
.inner-content-links{line-height: 110%}
}
///////// SWITCH INVERSION /////
.toggle-container-mobile{ cursor: pointer;
  position: absolute; top:55% ; right: 25px;
  svg{width: 20px;path{fill:$main-color; }}
}
///// SWITTCH INVERSION ////


//////spacer////
