.thumbails-index-mobile{
img{width: 200px}
}

.invisible{display: none};
.visible{display: block;}



///////////////////////////DESKTOP ///////
.thumbails-index{
display: none;
img{width: 200px}
}

//////////////////////
#lmn-thumb{
  position: absolute;
  top:180px;
  left:300px;
}

#mdlm-thumb{
  position: absolute;
  top:180px;
  left:300px;
}

#sophie-thumb{
  position: absolute;
  top:320px;
  left:150px;
}

//////////////////////

#lmn-thumb-mobile{
  position: absolute;
  top:180px;
  left:300px;
}

#mdlm-thumb-mobile{
  position: absolute;
  top:80px;
  left:30px;
}

#sophie-thumb-mobile{
  position: absolute;
  top:120px;
  left:50px;
}
