@font-face {
    font-family: 'Syne';
    src:font-url('Syne-Regular.otf');
  }

  @font-face  {
    font-family: 'Soyuz-Custom';
    src:font-url('SoyuzGrotesk-Custom.ttf');
  }
  @font-face {
      font-family: 'Untitled Sans';
      src:font-url('UntitledSansWeb.ttf');}

  $main-color: #334987;
  $sec-color: #535353;
  $hx-black: #535353;
  $new-project: #84121D;
  $highlight: #84121D;
  $body-color: #F7F5F5;
  $header-black: #2d2b2b;
