@font-face {
    font-family: 'Syne';
    src:font-url('Syne-Regular.otf');
  }

  @font-face  {
    font-family: 'Soyuz-Custom';
    src:font-url('SoyuzGrotesk-Custom.ttf');
  }
  @font-face {
      font-family: 'Untitled Sans';
      src:font-url('UntitledSansWeb.ttf');}

  $main-color: #101D6B;
  $hx-black: #3D0C02;
