@font-face {
    font-family: 'Syne';
    src:font-url('Syne-Regular.otf');
  }

  @font-face  {
    font-family: 'Soyuz-Custom';
    src:
         url('Soyuz-Grotesk-Bold.otf');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  }
  @font-face {
      font-family: 'Untitled Sans';
      src:font-url('UntitledSansWeb.ttf');

  }
